/*-- -------------------------- -->
<---         Dark Mode          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  body.dark-mode {
    --dark: #1a1a1a;
    --medium: #2b2b2b;
    background-color: var(--dark);
  }
  body.dark-mode h1,
  body.dark-mode h2,
  body.dark-mode h3,
  body.dark-mode h4,
  body.dark-mode h5,
  body.dark-mode h6 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode .cs-title,
  body.dark-mode .cs-text {
    color: var(--bodyTextColorWhite);
  }
}
