/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    body.dark-mode #dark-mode-toggle .cs-sun {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    body.dark-mode #dark-mode-toggle .cs-moon {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    #dark-mode-toggle {
        width: 3rem;
        height: 3rem;
        padding: 0;
        background: transparent;
        border: none;
        overflow: hidden;
        display: block;
        order: 2;
        position: relative;
        z-index: 1000;
    }
    #dark-mode-toggle img,
    #dark-mode-toggle svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1.25rem;
        height: 1.25rem;
        pointer-events: none;
    }
    #dark-mode-toggle .cs-moon {
        z-index: 2;
        transition: transform 0.3s, opacity 0.3s;
        fill: #1a1a1a;
    }
    #dark-mode-toggle .cs-sun {
        z-index: 1;
        transform: translate(-50%, 100%);
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #dark-mode-toggle {
        margin-left: 1rem;
        position: relative;
        bottom: auto;
        right: auto;
        order: 3;
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #dark-mode-toggle {
        position: relative;
        transform: none;
        bottom: auto;
        right: auto;
        margin: 0;
    }
    #dark-mode-toggle:hover {
        cursor: pointer;
    }
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
    body.cs-open {
        overflow: hidden;
    }

    #cs-navigation {
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
    }

    #cs-navigation:before {
        content: "";
        width: 100%;
        height: 0vh;
        background: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        position: absolute;
        display: block;
        top: 100%;
        right: 0;
        z-index: -1100;
        opacity: 0;
        transition: height 0.5s, opacity 0.5s;
    }

    #cs-navigation.cs-active:before {
        height: 150vh;
        opacity: 1;
    }

    #cs-navigation.cs-active .cs-ul-wrapper {
        opacity: 1;
        transform: scaleY(1);
        transition-delay: 0.15s;
    }

    #cs-navigation.cs-active .cs-li {
        transform: translateY(0);
        opacity: 1;
    }

    #cs-navigation .cs-top-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-navigation .cs-top-container {
        width: 100%;
        padding: clamp(1rem, 2.5vw, 1.25rem) 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    #cs-navigation .cs-contact-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 2.5rem;
        order: 2;
    }

    #cs-navigation .cs-contact-link {
        display: none;
    }

    #cs-navigation .cs-bottom-bar {
        width: 100%;
        padding: clamp(1rem, 2.5vw, 1.25rem) 1rem;
        box-sizing: border-box;
        background-color: #1a1a1a;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    #cs-navigation .cs-logo {
        width: auto;
        height: clamp(2rem, 4vw, 2.5rem);
        margin: 0 auto 0 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        z-index: 10;
    }

    #cs-navigation .cs-logo img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    #cs-navigation .cs-nav {
        order: 2;
    }

    #cs-navigation .cs-toggle {
        width: clamp(3rem, 7.2vw, 3.5rem);
        height: clamp(3rem, 7.2vw, 3.5rem);
        margin: 0 0 0 auto;
        background-color: var(--primary);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s;
    }

    #cs-navigation .cs-toggle.cs-active {
        transform: rotate(180deg);
    }

    #cs-navigation .cs-active .cs-line1 {
        top: 50%;
        transform: translate(-50%, -50%) rotate(225deg);
    }

    #cs-navigation .cs-active .cs-line2 {
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    }

    #cs-navigation .cs-active .cs-line3 {
        bottom: 100%;
        opacity: 0;
    }

    #cs-navigation .cs-box {
        width: clamp(1.5rem, 2vw, 1.75rem);
        height: 1rem;
        position: relative;
    }

    #cs-navigation .cs-line {
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #fafbfc;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #cs-navigation .cs-line1 {
        top: 0;
        transform-origin: center;
        transition: transform 0.5s, top 0.3s, left 0.3s;
    }

    #cs-navigation .cs-line2 {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: top 0.3s, left 0.3s, transform 0.5s;
    }

    #cs-navigation .cs-line3 {
        bottom: 0;
        transition: bottom 0.3s, opacity 0.3s;
    }

    #cs-navigation .cs-ul-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 3rem;
        opacity: 0;
        background-color: #fff;
        box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
        overflow: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: -1;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.4s, opacity 0.3s;
    }

    #cs-navigation .cs-ul {
        margin: 0;
        padding: 3rem 0 0 0;
        width: 100%;
        height: auto;
        max-height: 65vh;
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
    }

    #cs-navigation .cs-li {
        width: 100%;
        text-align: center;
        list-style: none;
        margin-right: 0;
        transform: translateY(-4.375rem);
        opacity: 0;
        transition: transform 0.6s, opacity 0.9s;
    }

    #cs-navigation .cs-li:nth-of-type(1) { transition-delay: 0.05s; }
    #cs-navigation .cs-li:nth-of-type(2) { transition-delay: 0.1s; }
    #cs-navigation .cs-li:nth-of-type(3) { transition-delay: 0.15s; }
    #cs-navigation .cs-li:nth-of-type(4) { transition-delay: 0.2s; }
    #cs-navigation .cs-li:nth-of-type(5) { transition-delay: 0.25s; }
    #cs-navigation .cs-li:nth-of-type(6) { transition-delay: 0.3s; }

    #cs-navigation .cs-li-link {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.2em;
        text-decoration: none;
        margin: 0;
        color: var(--headerColor);
        display: inline-block;
        position: relative;
    }

    #cs-navigation .cs-li-link.cs-active {
        color: var(--primary);
    }

    #cs-navigation .cs-li-link:hover {
        color: var(--primary);
    }

    #cs-navigation .cs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #1a1a1a;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        display: none;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        transition: color 0.3s;
    }

    #cs-navigation .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }

    #cs-navigation .cs-button-solid:hover {
        color: #fff;
    }

    #cs-navigation .cs-button-solid:hover:before {
        width: 100%;
    }

    #cs-navigation .cs-call {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        position: relative;
    }

    #cs-navigation .cs-call .cs-wrapper {
        width: 3rem;
        height: 3rem;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        transition: transform 0.3s;
    }

    #cs-navigation .cs-call .cs-icon {
        width: 1.25rem;
        height: auto;
        display: block;
    }

    #cs-navigation .cs-call .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #cs-navigation .cs-call .cs-header {
        font-size: 0.75rem;
        line-height: 1.2em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }

    #cs-navigation .cs-call .cs-link-content {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-navigation .cs-button-solid {
        display: block;
    }
}

/* Dark Mode - Mobile */
@media only screen and (max-width: 63.9375rem) {
    body.dark-mode #cs-navigation {
        background-color: var(--dark);
    }

    body.dark-mode #cs-navigation .cs-ul-wrapper {
        background-color: var(--dark);
    }

    body.dark-mode #cs-navigation .cs-li-link {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #cs-navigation .cs-bottom-bar {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: fixed;
        z-index: 10000;
    }

    #cs-navigation .cs-top-bar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-navigation .cs-top-container {
        width: 100%;
        max-width: 80rem;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    #cs-navigation .cs-contact-group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
    }

    #cs-navigation .cs-contact-link {
        text-decoration: none;
        padding-right: 1.875rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        position: relative;
    }

    #cs-navigation .cs-contact-link:hover .cs-wrapper {
        transform: rotateY(180deg);
    }

    #cs-navigation .cs-wrapper {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        position: relative;
        z-index: 1;
        transition: transform 0.6s;
    }

    #cs-navigation .cs-wrapper:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        opacity: 0.1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }

    #cs-navigation .cs-icon {
        width: 1.5rem;
        height: auto;
        display: block;
    }

    #cs-navigation .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
    }

    #cs-navigation .cs-header {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }

    #cs-navigation .cs-link-content {
        font-size: 0.875rem;
        line-height: 1.2em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
        display: block;
    }

    #cs-navigation .cs-button-solid {
        font-size: 1rem;
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #1a1a1a;
        min-width: 9.375rem;
        padding: 0 2rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        transition: color 0.3s;
    }

    #cs-navigation .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }

    #cs-navigation .cs-button-solid:hover {
        color: #fff;
    }

    #cs-navigation .cs-button-solid:hover:before {
        width: 100%;
    }

    #cs-navigation .cs-bottom-bar {
        width: 100%;
        background-color: #1a1a1a;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #cs-navigation .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        position: relative;
    }

    #cs-navigation .cs-toggle {
        display: none;
    }

    #cs-navigation .cs-ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.25rem;
    }

    #cs-navigation .cs-li {
        list-style: none;
        padding: 2rem 0;
        flex: none;
    }

    #cs-navigation .cs-li-link {
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
        position: relative;
        transition: color 0.3s;
    }

    #cs-navigation .cs-li-link:hover {
        color: var(--primary);
    }

    #cs-navigation .cs-li-link.cs-active {
        font-weight: 700;
        color: var(--primary);
    }

    #cs-navigation .cs-call {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        position: relative;
    }

    #cs-navigation .cs-call:hover .cs-wrapper {
        transform: rotateY(180deg);
    }

    #cs-navigation .cs-call .cs-wrapper {
        width: 3.5rem;
        height: 3.5rem;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        transition: transform 0.6s;
    }

    #cs-navigation .cs-call .cs-icon {
        width: 1.5rem;
        height: auto;
        display: block;
    }

    #cs-navigation .cs-call .cs-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #cs-navigation .cs-call .cs-header {
        font-size: 0.875rem;
        line-height: 1.2em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }

    #cs-navigation .cs-call .cs-link-content {
        font-size: 1.25rem;
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
}

/* Dark Mode - Desktop */
@media only screen and (min-width: 64rem) {
    body.dark-mode #cs-navigation {
        background-color: var(--dark);
    }

    body.dark-mode #cs-navigation .cs-header,
    body.dark-mode #cs-navigation .cs-link-content {
        color: var(--bodyTextColorWhite);
    }

    body.dark-mode #cs-navigation .cs-wrapper:before {
        background-color: #fff;
    }

    body.dark-mode #cs-navigation .cs-bottom-bar {
        background-color: rgba(0, 0, 0, 0.4);
    }
}
